.fondo {
  background: rgb(114, 142, 250);
  background: linear-gradient(
    344deg,
    rgba(114, 142, 250, 1) 0%,
    rgba(94, 117, 209, 1) 0%,
    rgba(14, 21, 112, 1) 100%
  );
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.05);
}

a {
  color: black;
}
a:hover {
  color: black;
}

.text-primary {
  color: rgb(38, 45, 138) !important;
}

.row {
  justify-content: space-evenly;
}

.card {
  padding: 0px;
}

.rounded {
  border-radius: 10px !important;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.btn-primary {
  background-color: rgb(38, 45, 138) !important;
  border: none !important;
  transition: all 0.2s ease-in-out;
}

.btn-primary:hover {
  filter: opacity(90%);
}

/* ocultar flechas del input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* @media (min-width: 600px){
  .rounded{
    border-radius: 5px !important;
  }
} */
